
body {
    max-width: 1366px;
    background-image: url(../images/BG.png);
    background-repeat: no-repeat;
    font-family: 'Roboto', sans-serif;
}



/* ---------  Header  -----------  */


header {
    max-width: 1366px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 17px;
    padding: 46px 160px 0;
}

.logo {
    display: flex;
    align-items: center;
    gap: 8px;
    text-decoration: none;
}

.logo div {
    background-image: url(../images/logo.png);
    width: 53px;
    height: 47px;
}

.logo p::first-line {
    font-size: 29px;
    line-height: 29px;
}

.logo p {
    font-size: 18px;
    line-height: 18px;
    font-weight: 700;
    text-transform: uppercase;
    color: white;
    width: 150px;
}

.logo:hover div {
    background-image: url(../images/logo-hover.png);
}

.logo:hover p {
    color: #F26522;
}



.contacts {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    gap: 19px;
}

.contacts a {
    font-size: 18px;
    font-weight: 400;
    line-height: 18px;
    color: white;
    text-decoration: none;
}

.contacts a:hover {
    color: #F26522;
}


/* ---------  Gallery  -----------  */

.gallery {
    display: grid;
    grid-template-columns: repeat(3, 300px);
    padding: 0 160px 33px;
    justify-content: space-between;
    row-gap: 37px;
}

.gallery a {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 20px;
    text-decoration: none;
}

.gallery span {
    font-size: 18px;
    font-weight: 400;
    line-height: 18px;
    color: white;
}

.image {
    width: 303px;
    height: 223px;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.gallery img {
    border: 2px solid;
    border-image: linear-gradient(180deg, #FFFFFF 0%, rgba(0, 0, 0, 0) 100%) 1;
}

.more-info {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    width: 300px;
    background-color: #F26522;
    padding: 7px 16px 12px;
    box-sizing: border-box;
    position: absolute;
    bottom: -57px;
}

.more-info div {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.more-info span {
    font-size: 10px;
    font-weight: 400;
    line-height: 10px;
    color: white;
}

.more-info p {
    font-size: 20px;
    font-weight: 400;
    line-height: 20px;
    color: white;
}

.button {
    display: flex;
    justify-content: center;
    gap: 16px;
    color: white;
    font-size: 14px;
    font-weight: 400;
    line-height: 14px;
}

.button::after {
    content: url(../images/icon-arrow.svg);
    align-self: center;
}

.gallery a:hover .more-info {
    bottom: 0;
    transition: 1s;
}

.gallery a:hover .shop-text {
    color: #F26522;
}



/* ---------  Footer  -----------  */

footer {
    display: flex;
    justify-content: center;
    margin-bottom: 15px;
}

footer span {
    font-size: 12px;
    font-weight: 400;
    line-height: 12px;
    color: white;
}
