/* 
font-family: 'Roboto', sans-serif;
 */

html, body {
    width: 1480px;
    padding: 63px 0 30px;
}

.logo {
    margin-left: 100px;
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
    font-size: 80px;
    line-height: 94px;
    font-weight: 400;
    color: #000000;
}

.logo span {
    color: #4BCAFF;
}

header {
    width: 1280px;
    margin: 40px auto 49px;
}

.navigation-bar-header ul {
    display: flex;
    justify-content: center;
    width: 1280px;
    background-color: #35444F;
    padding: 24px 0 18px;

}

.navigation-bar-header a {
    font-family: 'Roboto', sans-serif;
    font-size: 24px;
    line-height: 28px;
    font-weight: 400;
    color: white;
    text-decoration: none;
    background-color: #35444F;

    padding: 24px 40px 18px;
    border-left: 1px solid white;
    border-right: 1px solid white;
}

.navigation-bar-header a:hover {
    background-color: #222F3A;
}

main {
    display: flex;
    gap: 51px;
    width: 1280px;
    margin: 0 auto 54px;
}

.navigation-bar-aside {
    width: 344px;
    display: flex;
    flex-direction: column;
    border: 1px solid black;
}

.navigation-bar-aside li {
    padding: 25px 0 25px 44px;
}

.navigation-bar-aside a {
    font-family: 'Roboto', sans-serif;
    font-size: 27px;
    line-height: 27px;
    font-weight: 400;
    color: #485863;
    text-decoration: none;
}

.navigation-bar-aside li:hover {
    background-color: #DBDBDB;
    text-align: center;
}

.content {
    box-sizing: border-box;
    width: 885px;
}

.content-photo {
    box-sizing: border-box;
    width: 885px;
    border: 1px solid black;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 74px 0;
}


.content p {
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    line-height: 18px;
    font-weight: 400;
    color: #2C2C2C;
    overflow-x: hidden;
}

.content-text-1 {
    margin: 37px auto 34px;
}

footer {
    box-sizing: border-box;
    width: 1280px;
    height: 69px;
    background-color: rgba(99, 105, 110, 0.48);
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 40px 0;
}

.navigation-bar-footer {
    display: flex;
    gap: 24px;
}


.navigation-bar-footer a {
    font-family: 'Roboto', sans-serif;
    font-size: 28px;
    line-height: 28px;
    font-weight: 400;
    color: #0C1927;
    text-decoration: none;
}

.navigation-bar-footer a:hover {
    color: #3181A6;
    text-decoration: underline;
}

.copyright {
    font-family: 'Roboto', sans-serif;
    font-size: 24px;
    line-height: 24px;
    font-weight: 400;
    color: #010101;
}


