body {
    font-family: 'Roboto', sans-serif;
    max-width: 1920px;
    background-color: #171717;
}

h1 {
    font-size: 50px;
    line-height: 28px;
    font-weight: 700;
    color: white;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 37px 230px;
    margin-bottom: 83px;
}

.header-button {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    width: 218px;
    background-color: rgba(28, 28, 28, 0);
    border: 1px solid #E4B564;
    padding: 10px 0;
    text-decoration: none;

}

.link {
    text-decoration: none;
}

.header-button span {
    font-size: 18px;
    line-height: 30px;
    font-weight: 400;
    color: #E4B564;
}



/* Section-1 */

.section-1 {
    padding: 0 230px 161px;
}

.section-1 p {
    font-size: 20px;
    line-height: 28px;
    font-weight: 700;
    color: white;
    margin: 41px 0;
    max-width: 1200px;
}

.section-1-grid div {
    display: flex;
    align-items: center;
    justify-content: center;
}

.section-1-grid span {
    max-width: 450px;
    font-size: 20px;
    line-height: 28px;
    font-weight: 700;
    color: white;
    text-align: center;
}

.section-1-grid {
    display: grid;
    grid-template-columns: 467px 214px 214px 467px;
    grid-template-rows: repeat(2, 468px);
    justify-content: space-between;
    row-gap: 27px;
}

.s1-grid-item-1 {
    grid-column: 1 / 2;
    background-color: #634F2C;
}

.s1-grid-item-2 {
    grid-column: 2 / 4;
    background-color: #B4A385;
}

.s1-grid-item-3 {
    grid-column: 4 / 5;
    background-color: #E4B564;
}

.s1-grid-item-4 {
    grid-column: 1 / 3;
    background-color: #635A4A;
}

.s1-grid-item-5 {
    grid-column: 3 / 5;
    background-color: #B08C4D;
}



/* Section-2 */

.section-2 {
    padding: 0 230px 190px;
}

.section-2-grid {
    display: grid;
    grid-template-columns: repeat(3, 467px);
    grid-template-rows: 255px 58px 126px 122px 277px;
    justify-content: space-between;
    row-gap: 27px;
    margin-top: 94px;
}

.s2-grid-item-1 {
    grid-column: 1 / 2;
    grid-row: 1 / 3;
    background-color: #0E0E0E;

    padding: 44px 0 0 52px;
}

.s2-grid-item-2 {
    grid-column: 2 / 3;
    grid-row: 1 / 4;
    background-color: #242424;

    padding: 44px 0 0 51px;
}

.s2-grid-item-3 {
    grid-column: 3 / 3;
    background-color: #1F1F1F;

    padding: 44px 0 0 48px;
}

.s2-grid-item-4 {
    grid-column: 1 / 2;
    grid-row: 3 / 6;
    background-color: #1F1F1F;

    padding: 56px 0 0 52px;
}

.s2-grid-item-5 {
    grid-column: 2 / 3;
    grid-row: 4 / 6;
    background-color: #E4B564;

    padding: 47px 0 0 52px;
}

.s2-grid-item-6 {
    grid-column: 3 / 3;
    grid-row: 2 / 5;
    background-color: #0A0909;

    padding: 44px 0 0 48px;
}

.s2-grid-item-7 {
    grid-column: 3 / 3;
    grid-row: 5 / 6;
    background-color: #0A0909;

    padding: 44px 0 0 48px;
}

.section-2-grid p {
    width: 300px;
    color: white;
    font-size: 20px;
    line-height: 25px;
    font-weight: 800;
    word-wrap: break-word;
}

.section-2-grid p::first-line {
    color: white;
    font-size: 20px;
    line-height: 25px;
    font-weight: 500;
}

.section-2-grid span {
    color: white;
    font-size: 20px;
    line-height: 25px;
    font-weight: 500;
}

.s2-grid-item-5 span {
    color: black;
}


/* Section-3 */

.section-3 {
    padding: 161px 230px 0;
    background-color: #0E0E0E;
    margin-bottom: 238px;
}

.title-button {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 61px;
}

.title-button button {
    width: 180px;
    background-color: rgba(28, 28, 28, 0);
    border: 1px solid #E4B564;
    padding: 10px 0;
    
    font-size: 18px;
    line-height: 30px;
    font-weight: 400;
    color: #E4B564;
}

.section-3-grid {
    display: grid;
    grid-template-columns: 487px 486px 487px;
    grid-template-rows: repeat(2, 391px);
}

.section-3-grid div {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.s3-grid-item-1 {
    background-color: #634F2C;
}

.s3-grid-item-2 {
    background-color: #E8D2ABC2;
}

.s3-grid-item-3 {
    background-color: #E4B564;
}

.s3-grid-item-4 {
    background-color: #635A4A;
}

.s3-grid-item-5 {
    background-color: #B08C4D;
}

.s3-grid-item-6 {
    background-color: #634F2C;
}

.section-3-grid div:hover img {
    position: absolute;
    top: 61px;
}

.section-3-grid div:hover::before {
    content: 'Работы по монтажу прифундаментного дренажа по адресу ЛО: Всеволожский р-н, «Ручьи»';
    font-size: 22px;
    line-height: 28px;
    font-weight: 400;
    color: white;
    text-align: center;
    position: absolute;
    bottom: 61px;
    width: 320px;
}