* {
    margin: 0;
    padding: 0;
}

body {
    width: 1280px;
}

.header a {
    text-decoration: none;
    color: #FF0000;
    font-size: 18px;
    font-weight: 700;
    line-height: 18px;
    letter-spacing: 2.7px;
    text-transform: uppercase;
}

.header li{
    display: inline;
    padding: 70px;
}

.header ul {
    text-align: center;
}

.header nav {
    margin: 25px 0;
}


h2 {
    font-size: 22px;
    font-weight: 700;
    line-height: 26.82px;
    letter-spacing: 3.3px;
    color: #373737;
    text-align: center;

    margin: 49px 253px 38px;
}

p {
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    letter-spacing: 2.4px;
    color: #373737;
    text-align: center;
    padding: 0 67px 28px;
}

.main-button {
    width: 191px;
    height: 51px;
    background-color: #FF0000;
    border: none;
    border-radius: 4px;

    color: #FFFFFF;
    font-size: 12px;
    font-weight: 700;
    line-height: 12px;
    letter-spacing: 1.8px;
    text-transform: uppercase;

    margin: 38px 544.5px 42px;
}


.footer span {
    padding: 40px 105px 29px 713px;

    font-size: 16px;
    font-weight: 700;
    line-height: 19.5px;
    letter-spacing: 2.4px;
    color: #373737;
    

}
